html,
body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
}

p {
  display: inline-block;
  margin-right: 10px;
}

progress {
  display: inline-block;
}
